* {
    padding: 0;
    margin: 0;
  }
#header {
    display: flex;
   justify-content: space-around;
   position: fixed;
   align-items: center;
   width: 100%;
   padding: 0 20px;
   top: 0;
   min-height: 75px;
   background-color: #cee6ea;
   
   z-index: 10;
 }
 

 .nav-link {
    padding: 0px;
  }
  
  
  #nav-bar ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    width: 35vw;

  }
  
  ul li {
    list-style: none;

  }
  
  ul li a {
    color: #071144;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
   

  }
  ul li a:hover {
      color: red;
      font-size: 20px;
  }
  button{
    font-size: 20px;
    color: rgb(102, 49, 49);
    margin-right: 20px;
    border-radius: 10px;

  }
