
/*General Page Style */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/*Profile Section at Home Page Style */
.main_container{
	height: 460px;
	background-image: url(real-estate-agent-with-house-model-keys.jpg);
	background-position: center;
	background-size:cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#main_container{
	padding: 6%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main_container_header{
	padding-bottom: 20px;
	color: #0f4b5e;
	font-size: 48px;
}



.main_header_content{
	color: #071144;
}

.main_container_list{
	list-style: none;
	padding: 20px 0px 20px 120px;
	display: flex;
	text-align: center;

	
}

.main_container_list_botton{
	border: none;
	background: unset;
	font-size: 16px;
	width: 60px;
    height: 30px;
    line-height: 30px;
    color: #720101;
}



.main_container_list_botton:hover{
	background: white;
	font-size: 19px;
	font-weight: bold;
	color:#071144;
	cursor: pointer;
}
.main_container_search{
	display: flex;

}
.main_container_search button{
	height: 30px;
	width: 30px;
	border: 2px solid #071144;
	background: #071144;
	color: white;
}



.main_container_searchtext{
	width: 350px;
	height: 30px;
	border: 1px solid #071144;
}

/* Responsive style for screens that smaller than 768px*/

@media screen and (max-width: 768px){
   #main_container{
	   width: 52%;
	   padding: 2%;
	  }

   .main_container_header{
	   font-size: 44px;
   }
}
 /*Responsive style for screens that smaller than 375px*/
@media screen and (max-width: 425px){
	#main_container{
		width: 60%;
	}
	.main_container_header{
		font-size: 22px;
	}

	.main_container_list{
		padding-left: 25px;
	
}}


/* Start Footer */

.footer {
    background-color: #0f4b5e;
    color: white;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

.footer_title {
    font-size: 25px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_title p {
    margin: 0 10px;
}
#discover {
    color: yellow;
}

#place {
    color:violet
}

#heart {
    color: red;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    flex-direction: column;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 10px;
}

.footer_icons a {
    color: white;
}

.footer_icons li {
    padding-left: 20px;
}

.footer_icons li:hover {
    color: blue
}

/* End Footer */

/* Media Quary */

@media screen and (max-width : 768px) {
    
    /* Footer Section */

    .footer_title {
        font-size: 16PX;
    }
    .footer_title p {
        margin: 0px 2px;
    }
    #footer_copyright {
        font-size: 16px;
        width: 276px;;
    }
}

/*About Us Page */
.about_us{
    height: 563px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
}

.about_us_container{
    border: 5px;
    width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 68%;
    padding: 20px;
    border-style: outset;
    background-color: #b9c4c4 ;
}

.about_us_container{
    width: 50%;
   
}   

.about_us_container_header{
    font-size: 55px;
    color: #071144;
    
}

.about_us_container_header:hover{
    cursor: pointer;
    font-size: 60px;
}

#letter{
    color: #720101;
    font-size: 73px;
}

.about_us_container_content{
    text-align: justify;
    font-size: 17px;
    color: #04091d;
}

@media screen and (max-width: 768px){
    .about_us_container{
        height: 80%;
    }
    .about_us_container_content{
        font-size: 16px;
    }
}

@media screen and (max-width: 425px){
    .about_us_container{
        height: 77%;
        width: 85%;
    }
     .about_us_container_header{
         font-size: 33px;
     }
     
     #letter{
         font-size: 36px ;
     }

     .about_us_container_content{
         font-size: 12px;
     }
  
}





