
/* Start Style For Login page */

/* General Style*/ 

html {
    background-color: #56baed;
}

body {
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

/* Form Style */

#login_signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.form_content {
    border-radius: 10px 10px 10px 10px;
    background: white;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

.form_titles {
    margin: 20px 8px 10px 8px; 
    color: #cccccc;
}

h2 {
    display:inline-block;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-left:10px;
}

h2.inactive {
    color: #cccccc
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

#username, #password {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

#submit {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 15px 8px 40px 8px;
    transition: all 0.3s ease-in-out;
}

.form_footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
}

/* Animation */

.underline:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}
.underline:hover {
    color: #0d0d0d;
}

.underline:hover:after {
    width: 100%;
}

/* media Quary  */


@media screen and (max-width : 768px) {
    
    h2 {
        font-size: 20px;
    }

    #submit {
        margin: 15px 8px 15px 8px;
        padding: 10px 15px;
        font-size: 16px;
    } 
    
    #username, #password {
        font-size: 16px;
        padding: 15px 15px;
    }

    .form_footer {
        padding: 18px;
        font-size: 16px;
    }
}

/* End Style For Login page */

/*General Page Style */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

/*Profile Section at Home Page Style */
.main_container{
	height: 460px;
	background-image: url(real-estate-agent-with-house-model-keys.jpg);
	background-position: center;
	background-size:cover;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#main_container{
	padding: 6%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main_container_header{
	padding-bottom: 20px;
	color: #0f4b5e;
	font-size: 48px;
}



.main_header_content{
	color: #071144;
}

.main_container_list{
	list-style: none;
	padding: 20px 0px 20px 120px;
	display: flex;
	text-align: center;

	
}

.main_container_list_botton{
	border: none;
	background: unset;
	font-size: 16px;
	width: 60px;
    height: 30px;
    line-height: 30px;
    color: #720101;
}



.main_container_list_botton:hover{
	background: white;
	font-size: 19px;
	font-weight: bold;
	color:#071144;
	cursor: pointer;
}
.main_container_search{
	display: flex;

}
.main_container_search button{
	height: 30px;
	width: 30px;
	border: 2px solid #071144;
	background: #071144;
	color: white;
}



.main_container_searchtext{
	width: 350px;
	height: 30px;
	border: 1px solid #071144;
}

/* Responsive style for screens that smaller than 768px*/

@media screen and (max-width: 768px){
   #main_container{
	   width: 52%;
	   padding: 2%;
	  }

   .main_container_header{
	   font-size: 44px;
   }
}
 /*Responsive style for screens that smaller than 375px*/
@media screen and (max-width: 425px){
	#main_container{
		width: 60%;
	}
	.main_container_header{
		font-size: 22px;
	}

	.main_container_list{
		padding-left: 25px;
	
}}


/* Start Footer */

.footer {
    background-color: #0f4b5e;
    color: white;
    padding: 2px 0;
    text-align: center;
    width: 100%;
}

.footer_title {
    font-size: 25px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_title p {
    margin: 0 10px;
}
#discover {
    color: yellow;
}

#place {
    color:violet
}

#heart {
    color: red;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    flex-direction: column;
}

.footer_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-bottom: 10px;
}

.footer_icons a {
    color: white;
}

.footer_icons li {
    padding-left: 20px;
}

.footer_icons li:hover {
    color: blue
}

/* End Footer */

/* Media Quary */

@media screen and (max-width : 768px) {
    
    /* Footer Section */

    .footer_title {
        font-size: 16PX;
    }
    .footer_title p {
        margin: 0px 2px;
    }
    #footer_copyright {
        font-size: 16px;
        width: 276px;;
    }
}

